.search-bar {
	width: 500px;
}

.detail-restaurant-img {
	width: 100%;
	height: 300px;
	object-fit: cover;
}

body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Gowun Dodum', sans-serif;
}

.image-box {
	width: 1500px;
	height: 550px;
	overflow: hidden;
	margin: 0 auto;
}

.image-banner {
	width: 100%;
	height: 100%;
	object-fit:cover;
}

th, td {
	text-align: center;
	vertical-align: middle;
}

* {box-sizing: border-box;}
	body {font-family: Verdana, sans-serif;}
	.mySlides {display: none;}
	img {vertical-align: middle; width: auto; height: 300px;}
	
	/* Slideshow container */
	.slideshow-container {
	  max-width: 600px;
	  position: relative;
	  margin: auto;
	  object-fit: cover;
	}
	
	/* Caption text */
	.text {
	  color: #f2f2f2;
	  font-size: 15px;
	  padding: 8px 12px;
	  position: absolute;
	  bottom: 8px;
	  width: 100%;
	  text-align: center;
	}
	
	/* Number text (1/3 etc) */
	.numbertext {
	  color: #f2f2f2;
	  font-size: 12px;
	  padding: 8px 12px;
	  position: absolute;
	  top: 0;
	}
	
	/* The dots/bullets/indicators */
	.dot {
	  height: 15px;
	  width: 15px;
	  margin: 0 2px;
	  background-color: #bbb;
	  border-radius: 50%;
	  display: inline-block;
	  transition: background-color 0.6s ease;
	}
	
	.active {
	  background-color: #717171;
	}
	
	/* Fading animation */
	.fade {
	  animation-name: fade;
	  animation-duration: 3s;
	}
	
	@keyframes fade {
	  from {opacity: .4} 
	  to {opacity: 1}
	}
	
	/* On smaller screens, decrease text size */
	@media only screen and (max-width: 300px) {
	  .text {font-size: 11px}
	}